*.egg-info
*.mo
*.pyc
.installed.cfg
.mr.developer.cfg
.project
.pydevproject
.settings/
bin/
develop-eggs/
include/
generation_errors.txt
lib/
output/
parts/
project/
report_errors.txt
src/*
!src/collective/
var/
buildout-cache/
