[versions]
MarkupSafe = 0.23
awesome-slugify = 1.5
collective.recipe.omelette = 0.16
infrae.subversion = 1.4.5
ipdb = 0.8
ipython = 2.1.0
jinja2 = 2.7.2
mr.developer = 1.30
psycopg2 = 2.5.2
zc.buildout = 2.2.1
zc.recipe.egg = 2.0.1

#Required by:
#infrae.subversion = 1.4.5
py = 1.4.20

# Required by:
# awesome-slugify==1.4
Unidecode = 0.04.16
regex = 2014.05.23
